.imageList {
    column-count: 4;
    column-gap: 8px;
}

.imageWrap {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 8px;
    break-inside: avoid;
}

.imageWrap>img {
    grid-row: 1 / -1;
    grid-column: 1;
    object-fit: contain;
    max-width: 100%;
    display: block;
    border-radius: 1rem;
}

.loader {
    min-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}